{% extends "personal/header.html" %}
{% block content %}
<h1>{{ question.question_text|safe }}</h1>
{% if error_msg %}
	<p><strong>{{ error_msg }}</strong></p>
{% endif %} 

<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
		<input type="radio" name="choice" id="choice {{ forloop.counter }}" value="{{ choice.id }}" />
		<label for="choice{{ forloop.counter }}">{{ choice.choice_text|safe }}</label><br/>
	{% endfor %}
<input type="submit" name="Vote">
</form>

{% endblock %}