<!DOCTYPE html>
<html lang="en">

<head>
	<title>Avinash Bunde</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<script type="text/javascript" src="{% static 'personal/js/bootstrap.min.js' %}"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css" >
		html,
		body { 
		  	height:100%
		}
		.button {
    		background-color: white;
		    border: 3px solid #4CAF50;
		    color: black;
		    padding: 8px 15px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 15px;
		    margin: 4px 2px;
		    -webkit-transition-duration: 0.4s; /* Safari */
    		transition-duration: 0.4s;
		    cursor: pointer;
		}
		.button:hover {
		    background-color: #4CAF50; /* Green */
		    color: white;
		}
	</style>
</head>
<body class="body" style="background-color: #f6f6f6">
	<div class="container-fluid" style="min-height:95%;">
		<div class="row">
			<div class='container-fluid' font-color='white'>
			<br><br>
			<font color="black">
			   {% block content %}
			   {% endblock %}
			   </font>
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>