{% extends 'personal/base.html' %}

{% block content %}

<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Register for an Account</h3>
						{% if error_message %}
						    <p><strong>{{ error_message }}</strong></p>
						{% endif %}
						{% for field in form %}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<span class="text-danger small">{{field.errors}}</span>
							</div>
							<label class="control=label col-sm-2">{{ field.label_tag }}</label>
							<div class="col-sm-10">{{ field }}</div>
						</div>
						{% endfor %}
						<div class="col-sm-offset-2 col-sm-10">
					        <button type="submit" class="btn btn-success">Submit</button>
					    </div>
					</div>
				    <div class="panel-footer">
				        Already have an account? <a href="{% url 'personal:login' %}">Click here</a> to log in.
				    </div>
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}